.header {
    background-color: #1f2937;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    flex-direction: column;
}

.blank {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.menu {
    display: flex;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    margin-left: auto;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.slider {
    display: flex;
}

h1 {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    padding: 5px 25px;
    font-weight: 900;
    font-size: 18px;
}

.header_img {
    height: 400px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.img_back {
    background-color: slategray;
}