.header {
    background-color: #1f2937;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    flex-direction: column;
}

.blank {
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 100px;
}

.menu {
    display: flex;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    margin-left: auto;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.slider {
    display: flex;
    gap: 50px;
}

h1 {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    padding: 5px 25px;
    font-weight: 900;
    font-size: 18px;
}

.header_img {
    height: 200px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_back {
    background-color: slategray;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

h2 {
    padding: 50px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.roundbox {
    border: 2px #3882f6;
    border-style: solid;
    border-radius: 20px;
    border-width: 4px;
    padding: 20px;
    width: 200px;
    height: 200px;
}